[submodule "product-docs/ThreatMapper"]
	path = product-docs/ThreatMapper
	url = git@github.com:deepfence/ThreatMapper.git
	branch = master
[submodule "product-docs/SecretScanner"]
	path = product-docs/SecretScanner
	url = git@github.com:deepfence/SecretScanner.git
	branch = master
[submodule "product-docs/PacketStreamer"]
	path = product-docs/PacketStreamer
	url = git@github.com:deepfence/PacketStreamer.git
	branch = main
[submodule "product-docs/FlowMeter"]
	path = product-docs/FlowMeter
	url = git@github.com:deepfence/FlowMeter.git
	branch = main
[submodule "product-docs/ThreatStryker-docs"]
	path = product-docs/ThreatStryker-docs
	url = git@github.com:deepfence/ThreatStryker-docs.git
	branch = main
[submodule "product-docs/YaraHunter"]
	path = product-docs/YaraHunter
	url = git@github.com:deepfence/YaraHunter.git
	branch = main
